@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-style: normal;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_right:before {
    content: "\e900";
}

.icon-logout:before {
    content: "\e901";
}

.icon-basket:before {
    content: "\e902";
}

.icon-heart:before {
    content: "\e903";
}

.icon-glass:before {
    content: "\e904";
}

.icon-phone:before {
    content: "\e942";
}

.icon-envelop:before {
    content: "\e945";
}

.icon-location:before {
    content: "\e948";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-linkedin:before {
    content: "\eaca";
}
body {
    font: 14px/1.2 "CeraPro", sans-serif;
    background: #FFFFFF;
}



/* styles for register */
.login, .register{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}
.management{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin: 0;
}
.login_reg{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
.register_reg{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: green;
}
.description{
    font-size: 13px;
    line-height: 16px;
    margin-top: 40px;
}
input[type="text"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
.input_register {
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
 }
input[type="password"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
input[type="password"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
.button{
    background-color: green;
    color: white;
    width: 300px;
    margin-top: 41px;
    padding: 16px 118px 13px 119px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid green;
}
.decription_text{
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
    margin-top: 36px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px;
}
.button_box_gg{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 10px 69px;
}
.button_box_fb{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 11px 63px 9px 64px;
}

/* styles for login */

.login_log{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: green;
}
.register_log{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
.input_log{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}
.management_log{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin: 0;
}
.description_log{
    font-size: 13px;
    line-height: 16px;
    margin-top: 40px;
}
.input_login{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
input[type="password"] {
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
.button_log{
    background-color: green;
    color: white;
    width: 300px;
    margin-top: 41px;
    padding: 16px 118px 13px 119px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid green;
}
.decription_text_log{
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
    margin-top: 36px;
}
.buttons_log{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px;
}
.button_box_gg_log{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 10px 69px;
}

.button_box_fb_log{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 11px 63px 9px 64px;
}
/* styles for index.html */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav_list{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    padding: 0;
}
.link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}
.list::after,
.active_main::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: -20px;
    height: 3px;
    background: #46A358;
    transition: width 0.3s linear;
}
.list:hover::after,
.active_main:hover::after {
    width: 100%;
}
.menu{
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    padding-top: 37px;
    width: 188px;
    display: none;
}
.menu li{
    background: #F5F5F5;
}
.menu a{
    display: block;
    padding: 7px 0 8px 14px;
    text-decoration: none; ;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
}
.menu li:hover > a{
    background: #1A712A;
    color: white;
    font-weight: 700;
}
.menu > li:hover .second_menu{
    opacity: 1;
    visibility: visible;
}
.menu li:has(.second_menu)::after{
    content: "\e900";
    font-family: 'icomoon' !important;
    display: inline-block;
    font-size: 20px;
    transform: rotate(0deg);
    position: absolute;
    right: 13px;
    top: 148px;
    transition: transform 0.2s linear;
}
.menu li:hover::after{
    transform: rotate(-180deg);
    color: white;
}
.second_menu{
    position: absolute;
    list-style: none;
    padding: 0;
    left: 100%;
    top:0;
    width: 178px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
    padding-top: 37px;
}
.second_menu li{
    background: #F5F5F5;
}
.list:hover .menu{
    display: block;
}
.list{
    position: relative;
}
.post_buttons:hover {
    color: #28a745;
}
.active_main {
    color: #3D3D3D;
    font-weight: 700;
    position: relative;
}
.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 8px 17px;
    border: 2px solid #46A358;
    border-radius: 10px;
    align-items: center;
}
hr{
    width: 1200px;
    color: #46A358;
    margin-top: 5px;
}
.offer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;

}
.title_main {
    font-size: 70px;
    line-height: 140px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
}
.text {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 0;
    margin-bottom: 44px;
}
.btn_main {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 10px 27px;
    border: 2px solid #46A358;
    border-radius: 10px;
    text-decoration: none;
}
.btn_main:hover,
.btn:hover,
.button_ref:hover {
    background: #218838;
}
.main_text {
    margin-left: 40px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: #FBFBFB;
    flex-shrink: 0;
}
.products{
    flex-grow: 1;
    margin-left: 50px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_filter{
    display: flex;
    gap: 38px;
    list-style: none;
    padding: 0;
}
.nav_list_li,
.drop_list,
.nav_list_prod {
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
.active_line {
    color: green;
    font-weight: 700;
    position: relative;
}
.active_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 65px;
    height: 3px;
    background: #46A358;
}
.nav_list_li:hover {
    background: #28a745;
    color: #FFFFFF;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar h3 {
    margin: 14px 0 7px 18px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
}
.item_sidebar {
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #3D3D3D;
    list-style: none;
}
.banner{
    margin-top: auto;
    text-align: center;
}
.navigation_item {
    padding-left: 30px;
}
.active_li {
    color: green;
    font-weight: 700;
}
.item_sidebar:not(.active_li):hover {
    background: #28a745;
    color: #FFFFFF;
}
.items{
    display: flex;
    flex-wrap: wrap;
    gap:70px 33px;
    margin-top: 31px;
}
.icon-basket,
.icon-heart,
.icon-glass{
    font-size: 20px;
    color: #3D3D3D;
}
.icon-basket:hover,
.icon-heart:hover,
.icon-glass:hover {
    color: #46A358;
}
.actions i{
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
}
.actions i::before{
    font-size: 20px;
}
.item{
    position: relative;
    width: 258px;
}
.item_picture .actions{
    justify-content: center;
    gap: 10px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.item_picture:hover .actions {
    display: flex;
}
.actions a{
    text-decoration: none;
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.item_picture{
    position: relative;
    height: 300px;
    background: #FBFBFB;
}
.item_one,
.item_eight{
    padding: 29px 4px 26px 4px;
}
.item_two,
.item_three,
.item_nine{
    padding: 22px 4px 26px 4px;
}
.item_four,
.item_five,
.item_six,
.item_seven{
    padding: 13px 4px 26px 4px;
}
.item_text {
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0 6px 0;
}
.price_products{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #46A358;
}
.price_products:before {
    content: "$";
}
.price_products del{
    margin-left: 10px;
    font-size: 18px;
    line-height: 16px;
    color: #A5A5A5;
}
.line{
    position: absolute;
    border-top: 2px solid #46A358;
    width: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: width 0.3s linear;
}
.item:hover .line{
    width: 258px;
}
.sale_item{
    position: absolute;
    top: 14px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    background: #46A358;
    color: #FFFFFF;
    padding: 7px 8px 6px 9px;
    z-index: 3;
}
.pages_nav{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: flex-end;
    margin-top: 90px;
}
.pages li{
    list-style: none;
}
.pages a:not(.active):hover {
    background: #3E8E4D;
    color: #FFFFFF;
}
.pages a {
    display: flex;
    font-size: 18px;
    line-height: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    text-decoration: none;
}
.pages a:not(.active) {
    color: black;
}
.active {
    background: #46A358;
    color: #FFFFFF;
}
.reference_items{
    display: flex;
    gap: 28px;
    margin-top: 94px;
}
.reference_item_one{
    display: flex;
    align-items: center;
    background: #FBFBFB;
    width: 586px;
}
.reference_item_one .cactus_summer {
    margin-top: -60px;
}
.reference_item_two{
    display: flex;
    align-items: center;
    background: #FBFBFB;
    width: 586px;
}
.reference_item_two .trends_styling{
    margin-top: -40px;
}
.reference_text_one{
    margin-right: 30px;
    text-align: right;
}
.reference_text_two{
    margin-right: 35px;
    text-align: right;
}
.ref_title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3D3D3D;
}
.ref_text{
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    width: 292px;
}
.button_ref{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 11px 25px 9px 28px;
    border: 2px solid #46A358;
    border-radius: 10px;
    text-decoration: none;
}
.posts_title{
    display: flex;
    justify-content: center;
    margin: 138px 0 15px 0;
    font-size: 30px;
    line-height: 16px;
    font-weight: 700;

}
.posts_text{
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}
.post_cards{
    display: flex;
    gap:44px;
    margin-top: 35px;
}
.post_card{
    background: #FBFBFB;
    width: 268px;
}
.post_container{
    margin: 0 0 12px 13px;
}
.post_active{
    color:#46A358;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 9px 0 0 0;
}
.post_title_text{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 4px 0 0 0px;
}
.post_text{
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin: 4px 0 0 0px;
}
.post_buttons{
    display: inline-flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 4px 0 0 0;
    color: #3D3D3D;
    text-decoration: none;
}
.background{
    background-color: #FBFBFB;
}
.content_section{
    display: flex;
    padding: 25px 0 0 0;
    margin-top: 100px;
}
.footer_cards{
    display: flex;
    gap: 30px;
    margin-left: 25px;
}
.sep{
    width: 1px;
    height: 187px;
    background-color: #46A358;
    opacity: 0.1;
}
.feedback_form{
    width: 354px;
    margin: 0 0 0 62px;
}
.footer_item{
    width: 204px;
    padding-top: 92px;
}
.card_one{
    background-image: url(../images/picture_footer_one.svg);
    background-repeat: no-repeat;
}
.card_two {
    background-image: url(../images/picture_footer_two.svg);
    background-repeat: no-repeat;
}
.card_three {
    background-image: url(../images/picture_footer_three.svg);
    background-repeat: no-repeat;
}
.title_item{
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
    margin: 15px 0 0 0;
}
.item_text{
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    margin: 9px 0 0 0;
}
.form_title{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
    margin: 10px 0 25px 0
}
.form_text{
    font-size: 13px;
    line-height: 22px;
    color: #727272;
    margin: 18px 0 0 0;
}
.form_footer{
    display: flex;
    width: 354px;
}
.feedback_input{
    width: 269px;
    font-size: 14px;
    line-height: 16px;
    color: #ACACAC;
    padding: 12px 11px;
    border: 1px solid white;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
.feedback_button{
    width: 85px;
    padding: 12px 25px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    background-color:#46A358 ;
    color: #FFFFFF;
    border: 1px solid #46A358;
    border-left:none;
    border-radius: 0 6px 6px 0;
}
.feedback_button:hover{
    background: #218838;
}
.information {
    display: flex;
    gap: 155px;
    align-items: center;
    height: 88px;
    background: linear-gradient(90deg, #EDF6EF, #52C368);
    padding-left: 23px;
    margin-top: 24px;
}
.item_information{
    display: flex;
    align-items: center;
    gap: 9px;
    flex-grow: 1;
}
.icon-location,
.icon-envelop,
.icon-phone{
    font-size: 20px;
    color: #46A358;
}
.footer_text{
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}
.item_information a{
    text-decoration: none;
    background: none;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}
.footer_items{
    display: flex;
    margin-left: 25px;
}
.footer_nav {
    display: flex;
    gap: 70px;
    flex-grow: 1;
}
.item_nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 33.33%;
}
.item_nav ul{
    list-style: none;
    padding: 0;
}
.items_name{
    margin:33px 0 8px 0;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
}
.items_text{
    margin: 0;
}
.items_text a{
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    text-decoration: none;
}
.icons_item{
    padding: 0 0 20px 0;
}
.icons{
    display: flex;
    gap: 10px;
    padding: 0;
}
.icons li{
    list-style: none;
}
.icons a{
    text-decoration: none;
    font-size: 20px;
    padding: 7px;
    align-items: center;
    color: #46A358;
    border: 1px solid rgba(70, 163, 88, 0.2);
    border-radius: 4px;
    background: white;
    opacity: 0.6;
}
.icons a:hover{
    color: #46A358;
    opacity: 1;
    border: 1px solid rgba(70, 163, 88, 1);
}
.media{
    margin-top: 33px;
    width: 33.33%;
}
.media_title{
    margin: 0 0 13px 0;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
}
.icons_title {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #3D3D3D;
}
.items_text a{
    position: relative;
}
.items_text a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #46A358;
    transition: width 0.3s linear;
}
.items_text a:hover::after{
    width: 100%;
}
.phone_number:hover{
    color: white;
}
.mail:hover {
    color: white;
}
.copyright{
    display: flex;
    justify-content: center;
}
.copyright p{
    margin: 6px 0 0 0;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 30px;
}






