@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CeraPro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body {
    font: 14px/1.2 "CeraPro", sans-serif;
    background: #FFFFFF;
}



/* styles for register */
.login, .register{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}
.management{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin: 0;
}
.login_reg{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
}
.register_reg{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: green;
}
.description{
    font-size: 13px;
    line-height: 16px;
    margin-top: 40px;
}
input[type="text"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
input[type="email"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
input[type="password"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
input[type="password"]{
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
.button{
    background-color: green;
    color: white;
    width: 300px;
    margin-top: 41px;
    padding: 16px 118px 13px 119px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid green;
}
.decription_text{
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
    margin-top: 36px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px;
}
.button_box_gg{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 10px 69px;
}
.button_box_fb{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 11px 63px 9px 64px;
}

/* styles for login */

.login_log{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
    color: green;
}

.register_log{
    font-size: 20px;
    line-height: 16px;
    text-decoration: none;
}
.input_log{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}
.management_log{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin: 0;
}
.description_log{
    font-size: 13px;
    line-height: 16px;
    margin-top: 40px;
}
input[type="email"] {
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}

input[type="password"] {
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    line-height: 16px;
}
.button_log{
    background-color: green;
    color: white;
    width: 300px;
    margin-top: 41px;
    padding: 16px 118px 13px 119px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid green;
}
.decription_text_log{
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
    margin-top: 36px;
}
.buttons_log{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 27px;
}
.button_box_gg_log{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 10px 69px;
}

.button_box_fb_log{
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    border: 1px solid #EAEAEA;
    padding: 11px 63px 9px 64px;
}
/* styles for index.html */

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header_box{
    margin-top: 30px;
} 
.logo_box,
.menu_box,
.btn_box {
    display: inline-block;
    vertical-align: middle;
}
.header_box li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}
.logo_box{
    margin-right: 140px;
    width: 150px;
}
.btn_box{
    margin-left: 340px;
    padding-top: 8px;
    text-align: center;
}
.menu_box{
    width: 380px;
    padding-top: 15px;
    margin-left: 100px;
}
.nav_list{
    padding: 0;
    margin: 0;
}
hr{
    color: #46A358;
}
.offer{
    background-color: #F5F5F5;
}
.main_text,
.main_img {
    display: inline-block;
    vertical-align: middle;
}
.main_img{
    margin-left: 93px;
}
.link{
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}
.link:hover{
    background: #28a745;
    color: #FFFFFF;
}
.active_main{
    color: #3D3D3D;
    font-weight: 700;
    position: relative;
}
.active_main::after {
    content:"";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 45px;
    height: 3px;
    background: #46A358;
}
.btn{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    background-color:#46A358;
    color: #FFFFFF;
    padding: 8px 17px;
    border: 2px solid #46A358;
    border-radius: 10px;
}
.title{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 68px 0 0 0;

}
.title_main{
    font-size: 70px;
    line-height: 140px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
}
.text{
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top:0;
    margin-bottom: 44px;
}
.btn_main{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 10px 27px;
    border: 2px solid #46A358;
    border-radius: 10px;
    text-decoration: none;
}
.btn_main:hover,
.btn:hover{
    background: #218838;
}
.main_text{
    margin-bottom: 100px;
    margin-left: 40px;
}
h1 span{
    color: #46A358;
}

/* styles for float */
.content{
    margin-top: 150px;
}
.clearfix:after{
    content:'';
    display: table;
    clear: both;
}
.sidebar{
    float:left;
    width:310px;
    background-color: #FBFBFB;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar h3{
    margin:14px 0 7px 18px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
}
.item_sidebar{
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    color: #3D3D3D;
}
.navigation_item{
    padding-left: 30px;
}
.banner{
    display: block;
    width: 100%;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
    width: 838px;
    align-items: center;
    margin-left: 50px;
}
.navigation_filter{
    list-style: none;
    float:left;
    width: 50%;
    align-items: center;
    padding: 0;
}
.navigation_filter li{
    float: left;
    margin-right: 37px;
}
.drop_list{
    float: right;
    margin: 14px 0;
}
.item{
    display: inline-block;
    width: 838px;
    margin-left: 50px;
}
.pages_nav{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.pages li{
    list-style: none;
}
.pages a:not(.active):hover{
    background: #3E8E4D;
    color: #FFFFFF;
}
.pages a{
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    font-weight: 300;
    padding: 10px 15px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    text-decoration: none;
}
.pages a:not(.active) {
    color: black;
}
.active{
    background: #46A358;
    color: #FFFFFF;
}
.active_li{
    color: green;
    font-weight: 700;
}
.nav_list_li,
.drop_list,
.nav_list_prod {
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    color: #3D3D3D;
}
.active_line{
    color: green;
    font-weight: 700;
    position: relative;
}
.active_line::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 65px;
    height: 3px;
    background: #46A358;
}
.item_text{
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 6px 0;
}
.price_products{
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;
    color: #46A358;
}
.price_products:before{
    content:"$";
}
.item_sidebar:not(.active_li):hover{
    background: #28a745;
    color: #FFFFFF;
}
.nav_list_li:hover{
    background: #28a745;
    color: #FFFFFF;
}
.nav_list_prod:not(.active_line):hover {
    background: #28a745;
    color: #FFFFFF;
}
#short_by{
    font-size: 15px;
    line-height: 16px;
}



